
@{
    ViewBag.Title = "Succes";
}

<div class="login recovery">
    <div class="heaading text-center">

        <img src="~/Content/img/logo.png" width="94" height="79" alt="Expence Manager">
        <h2>Accounts Manager</h2>
    </div>
    <svg width="100%" height="77">
        <circle stroke="black" stroke-width="0" fill="#326ffb" cx="50%" r="454" cy="-403"></circle>
    </svg>

    <div class="colum">
        <div class="sucesses">
            <img src="~/Content/img/sucesses.png" width="103" height="103" alt="Sucesses">
            <p>Registeration Sucesses</p>
        </div>

        <div class="btn-box">
            <a href=" @Url.Action("Index", "Login") ">
                <input type="submit" class="btn" value="Login Now">
            </a>
        </div>

    </div>
</div>


